/* font-family: 'Montserrat', sans-serif; */
body {
    font-family: "Montserrat", sans-serif;
}

#title {
    background-color: #ff4c68;
    
}

h1 {
    font-family: "Montserrat", sans-serif;
    /* font-family: 'Ubuntu', sans-serif; */
    font-size: 3.5rem;
    line-height: 1.5;
    color: whitesmoke;
    font-weight: 900;
}

h2{
    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
    font-style: bold;
    line-height: 1.5;
}

.container-fluid {
    padding: 3% 15% 8%;
}

/* navigation bar */
.navbar {
    padding-bottom: 4.5rem;
    padding-top: 0;
}

.navbar-brand {
    font-family: "Ubuntu", sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 10px;
}

.nav-link {
    font-family: "Montserrat", sans-serif;
    font-size: 1.25rem;
}

/* download buttons */

.downbutton {
    margin: 5% 3% 5% 0%;
}

.titleimage {
    
    width: 23%;
    transform: rotate(25deg);
    position: absolute;
    z-index: 0;

    
}

h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

#features {
    padding: 7% 15%;
    background-color: white;
    position: relative;
    z-index: 1;
    
}

/* features icon */
.imghover {
    color: black;
}

.imghover:hover {
    color: #ff4c68;
}

/* testimonials section */
#testimonials{
    
    text-align: center;
    background-color: #ff4c68;
    color: #fff;
}

.testimonial-image{
    width: 15%;
    border-radius: 100%;
    margin: 20px;
}

#press{
    background-color: #ff4c68;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px ;

}
/* carousel section */

.carousel-item{
    padding: 7% 15%;
}

/* pricing section  */

#pricing {
    padding: 100px;
    text-align: center;
}
.pricing-column {
    padding: 3% 2%;

}
