/* font-family: 'Montserrat', sans-serif; */
body {
    font-family: "Montserrat", sans-serif;
}

#title {
    background-color: #ff4c68;
    text-align: left;
}

h1,h2,h3 {
    font-family: "Montserrat", sans-serif;
    /* font-family: 'Ubuntu', sans-serif; */
    
}


.main-heading{
    font-size: 3.5rem;
    line-height: 1.5;
    color: whitesmoke;
    font-weight: 900;

}
.container-fluid {
    padding: 3% 15% 8%;
}

/* navigation bar */
.navbar {
    padding-bottom: 4.5rem;
    padding-top: 0;
}

.navbar-brand {
    font-family: "Ubuntu", sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 10px;
}

.nav-link {
    font-family: "Montserrat", sans-serif;
    font-size: 1.25rem;
}

/* download buttons */

.downbutton {
    margin: 5% 3% 5% 0%;
}

.titleimage {

    width: 30%;
    transform: rotate(25deg);
    position: absolute;
    right: 20%;
}

/* Features Section */

#features {
    padding: 8% 15%;
    background-color: white;
    position: relative;
    z-index: 1;
}
.feature-list{
        font-weight: bold;
}
/* features icon */
.imghover {
    color: black;
}

.imghover:hover {
    color: #ff4c68;
}

/* testimonials section */
#testimonials {

    text-align: center;
    background-color: #ff4c68;
    color: #fff;
}

.testimonial-image {
    width: 15%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #ff4c68;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* carousel section */

.carousel-item {
    padding: 7% 15%;
}

/* pricing section  */

#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-heading {
    font-family: "Montserrat", serif;
    font-weight: normal;
    font-size: 2.5rem;
}
.breed-name{
    font-weight: bold;
}
.price-text{
    font-size: 3rem;
    font-style: bold;
    line-height: 1.5;
}
.pricing-column {
    padding: 3% 2%;
}

/* cta section */
#cta {
    background-color: #ff4c68;
    text-align: center;
    padding: 2% 0% 0%;
}
.dog-img{
    margin-right: 5%;
}
/* footer section */

#footer {
    background-color: #fff;
    text-align: center;
    padding: 1% 0% 1%;
}



/* media queries section */

@media screen and (max-width: 1180px) {
    #title {
        text-align: center;
    }

    .titleimage {
        text-align: center;
        position: static;
        transform: rotate(0);
        width: 60%;
    }

}
